<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="MaximoPorPagina" value="8" />
    <add key="SRV_SMTP" value="innovomedia.com" />
    <add key="PRT_SRV_SMTP" value="25" />
    <add key="USR_SMTP" value="correo@innovomedia.com"/>
    <add key="CLV_USR_SMTP" value="123456"/>
    <add key="CorreoContactenos" value="correo@innovomedia.com"/>
    <add key="Sitio" value="http://localhost:46460/"/>
    <add key="ImgPredeterminada" value="http://www.extinct-website.com/extinct-website/images/tn_noImageAvailable-6a1959e1.jpg"/>
  </appSettings>
  <connectionStrings>
    <add name="RoverConnectionString" connectionString="Data Source=rover2012.mssql.somee.com;Initial Catalog=rover2012;Persist Security Info=True;User ID=lepusoft;Password=wstinol123."
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
