<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="slnRoverDatos.Properties.Settings.RoverConnectionString"
            connectionString="Data Source=rover2012.mssql.somee.com;Initial Catalog=rover2012;Persist Security Info=True;User ID=lepusoft;Password=wstinol123."
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>